name: CI - Notes App

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  install_dependencies:
    name: Install Dependencies
    runs-on: ubuntu-latest
    outputs:
      cache-key: ${{ steps.cache-deps.outputs.cache-hit }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-vesion: 20

      - name: Cache node_modules
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      
      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: npm ci
  
  run_lint:
    name: Run Lint (ESLint)
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      
      - name: Run ESLint
        run: npm run lint
  
  run_unit_tests:
    name: Run Unit Tests (Jest)
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      
      - name: Run unit tests with coverage
        run: npm run test -- --coverage
  
  sonar_scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    needs: [run_lint, run_unit_tests]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
  
  k6_smoke_test:
    name: Run K6 Smoke Test
    runs-on: ubuntu-latest
    needs: [run_lint, run_unit_tests]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      
      - name: Install K6
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg software-properties-common
          curl -s https://dl.k6.io/key.gpg | sudo apt-key add -
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install -y k6
      
      - name: Start server
        run: npm run start
      
      - name: Run K6 test
        env:
          BASE_URL: http://localhost:3000
        run: npm run k6
      